<!doctype html>

<html>
  <head>

    !-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>




    <title>CSCI 444 Project 3 - Geo Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CSCI 444 - Project 3 - William Lyon</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--  <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	<br><br>
        <h1>BattleMapz</h1>
        <p class="lead">Using geographical data to explore the history of militarized inter-state disputes throughout the world.</p>

      </div>

    <ul id="myTab" class="nav nav-tabs">
        
	<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
	<li><a href="#hypothesis" data-toggle="tab">Hypothesis</a></li>
	<li><a href="#bad_vis" data-toggle="tab">Bad Visual</a></li>
	<li><a href="#good_vis" data-toggle="tab">Good Visual</a></li>
	<li><a href="#vis_1" data-toggle="tab">Visual #1</a></li>
        <li><a href="#vis_2" data-toggle="tab">Visual #2</a></li>
	<li><a href="#vis_3" data-toggle="tab">Visual #3</a></li>
	<li><a href="#vis_4" data-toggle="tab">Visual #4</a></li>
	<li><a href="#analysis" data-toggle="tab">Analysis</a></li>
  

    </ul>
      <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade in active" id="overview">
	  <br><p>NOTE: This page may take several moments to load and may become unresponsive while rendering. Please be patient. If you want to know why it is slow: numbers are being crunched client-side in javascript.</p> 

	  <p>This project explores the relationship between power (rosources at the disposal of a country) and fatalities suffered during inter-state militarized disputes. All data comes from the <a href="http://www.correlatesofwar.org/Datasets.htm">Correlates of War Project datasets.</a></p>
	</div>


	<div class="tab-pane fade" id="hypothesis">
	  <br><p>Some justification for hypothesis. Better military technology (drones, missles, etc). More incentive / access to pursue diplomatic means of mediation that battle, protect infrasstructure and political power before going to war.</p>
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h3 class="panel-title">Hypothesis</h3>
	    </div>
	    <div class="panel-body">
	    <p>Countries with increasing levels of resources experience decreasing levels of fatalities per war.</p>
	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="bad_vis">

	  <a href="http://www.stratasan.com/bad-maps-apples-map-app-and-poor-cartographic-design/">From Stratasan blog post</a><br><br>

	  <img src="img/BadMap_Capitals.jpg" width=900><br><br>

	  <div class="panel panel-danger">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why this is a bad visual</h3>
	    </div>
	    <div class="panel-body">
	      <p>This visual seems to have a good map projection and dataset, but does a poor job of implementation. The legend gives no indication of the units used for population. At first, I thought the units were million of people, however after some quick scrutiny that is clearly not the case. The use of circle overlays in itself is not bad, however the way this visual has moved the overlays aside to allow labeling is problematic. If the intent is to show population density, then keeping the circle overlays positioned geographically correctly is key. Moving them aside only distorts the data being displayed, while not adding much value to the labeling. Instead, the circles should have been kept centered over the city they represent with labeling done inside the circle when needed. This would have more clearly shown population density per geographic region.</p>
	    </div>
	  </div>

	</div>


	<div class="tab-pane fade" id="good_vis">
	  
	  <br>See also: <a href="http://www.gapminder.org/world/#$majorMode=map$is;shi=t;ly=2003;lb=f;il=t;fs=11;al=30;stl=f;st=f;nsl=t;se=t$wst;tts=C$ts;sp=5.59290322580644;ti=2012$zpv;v=0$inc_x;mmid=XCOORDS;iid=phAwcNAVuyj1jiMAkmq1iMg;by=const$inc_y;mmid=YCOORDS;iid=phAwcNAVuyj2tPLxKvvnNPA;by=const$inc_s;uniValue=8.21;iid=phAwcNAVuyj1jiMAkmq1iMg;by=ind$inc_c;uniValue=255;gid=CATID0;by=grp$map_s;sma=49;smi=8.2$cd;bd=0$inds=" target="_blank">Gapminder's Wealth and Health Of Nations</a> and <a href="http://bost.ocks.org/mike/nations/" target="_blank">Mike Bostock's Recreation in D3</a><br><hr></br>
	  <a href="http://mbostock.github.io/d3/talk/20111116/airports.html">Mike Bostock's Airport Example, showing Voronoi overlay</a>
	  <iframe style="border: 0px;" src="http://mbostock.github.io/d3/talk/20111116/airports.html" height=900 width=1200 scrolling="yes"></iframe>

	  <div class="panel panel-success">
	    <div class="panel-heading">
	      <h3 class="panel-title">Why these are good visuals</h3>
	    </div>
	    <div class="panel-body">
	     <h4>Wealth and Health of Nations</h4>
	      <p>These contrast the bad visual example to show how circle overlays can be used effectively. So much data displayed. Interactive.</p>

	    <h4>Airport example</h4>
	      <p>Again shows circle overlays, shows how hidden Voronoi overlay works for selecting an observation. Especially effective for small observations. Interactive.</p>
	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_1">
	  <h3>Fatality heatmap of militarized inter-state disputes 1816-2001</h3>
	   Source: Correlates of War <a href="http://www.correlatesofwar.org/COW2%20Data/MIDLOC/MIDLOC_v1.1.html">MIDLOC v1.1 </a> and <a href="http://www.correlatesofwar.org/COW2%20Data/MIDs/MID310.html">MID v3.10</a>
	  <p><iframe style="border: 0px;" src="/viz1" height=550 width=900 scrolling="yes"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #1</h3>
	    </div>
	    <div class="panel-body">
	      <h4>Dataset</h4>
	      <p>Describe dataset used - long lat, etc</p>
	      <h4>Fatality heatmap</h4>
	      <p>This visual uses a heatmap overlay to highlight battle related fatality levels throughout the world. The value of each pixel displayed on the map is defined by its distance to a point that holds data (in this case fatality level for a dispute): \(v=\sum{f_{i} - s*d^w}\) where \(v\) = value of the pixel, \(f_i\) = fatality level for observation \(i\), \(d\) = distance from observation \(i\),  \(s\)=0.1 , and \(w\) = 3. The color of the pixel is then determined from the value \(v\) by a color scheme function. </p>
	      <h4>Dispute markers</h4>
	      <p>Info about dispute markers here</p>
	      <h4>Conclusions</h4>
	      <p>Conclusions reached from this visual, problems with it and motivation for visual #2</p>
	      <h4>How Created</h4>
	      <p>Info about libraries used, maybe a table?. Spherical Mercator projection.</p>
	    </div>
	  </div>
	</div> <!-- /.tab-pane -->
  
        <div class="tab-pane fade" id="vis_2">
        
	  <h3>Comparing National Material Capabilities with war fatalities</h3>
	   Source: Correlates of War <a href="http://www.correlatesofwar.org/COW2%20Data/WarData_NEW/WarList_NEW.html">Interstate War Data v4.0</a> and <a href="http://www.correlatesofwar.org/COW2%20Data/Capabilities/nmc4.htm">National Material Capabilities Index</a>


	  <p><iframe style="border: 0px;" src="/viz2" height="550" width="1000" scrolling="no"></iframe></p>
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #2</h3>
	    </div>
	    <div class="panel-body">
	      <h4>Dataset</h4>
	      <p>Used war v4.0 and CINC. What is CINC. What new data is in war v4.0 that we didn't have in visual #1</p>
	      <h4>Crossfilter map</h4>
	      <p>What three variables are being plotted. How to use crossfilters. </p>

	      <h4>Conclusions</h4>
	      <p>By selecting upper region of CINC we see lower fatalities per military personnel. Similarly for lower region. Problem: collapsing the time dimension, using time averages of CINC and size of military. Would be more useful to see data relative to the time the war occured. Not conclusive. Motivation for scatterplots.</p>

	      <h4>How Created</h4>
	      <p>Table? Crossfilter, D3, leaflet</p>
	  </div>

    
	  </div> 

	</div> <!-- / .tab-pane -->

	<div class="tab-pane fade" id="vis_3">
	  <h3>Fatalities vs National Capabilities Index</h3>
	  Source: Correlates Of War <a href="http://www.correlatesofwar.org/COW2%20Data/Capabilities/nmc4.htm">National Material Capabilities v4.0</a> and <a href="http://www.correlatesofwar.org/COW2%20Data/WarData_NEW/WarList_NEW.html">Interstate War Data v4.0</a> | size of circle = military expenditures

	  <iframe style="border: 0px;" src="/viz4" height="550" width="900" scrolling="no"></iframe> 
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #3</h3>
	    </div>
	    <div class="panel-body">
		<table border="1" style="float: right;">
		  <tr><th colspan=2>Regression Summary Stats</th></tr>
		  <tr>
		    <td><b>p-value:</b></td>
		    <td>0.0003</td>
		  </tr>
		  <tr>
		    <td><b>r^2:</b></td>
		    <td>0.0403</td>
		  </tr>
		  <tr>
		    <td><b>Slope: </b></td>
		    <td>1742839.37</td>
		  </tr>
		  <tr>
		    <td><b>Intercept: </b></td>
		    <td>31011.72</td>
		  </tr>
	      </table>


		<h4>Dataset</h4>
		<p>Same data as previous visual. What is being plotted</p>

		<h4>Conclusions</h4>
		<p>Inconsistent with hypotheis. Problem: not accounting for size of military. Motivation for visual 4.</p>

		<h4>How Created</h4>
		<p>D3, log scale, regressions done with scipy Python, node.js javascript and sift used for parsing data (link to calc_data.js source on Github)</p>
	     	 

	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

	<div class="tab-pane fade" id="vis_4">
	   <h3>Fatalities vs National Capabilities Index</h3>
	  Source: Correlates Of War <a href="http://www.correlatesofwar.org/COW2%20Data/Capabilities/nmc4.htm">National Material Capabilities v4.0</a> and <a href="http://www.correlatesofwar.org/COW2%20Data/WarData_NEW/WarList_NEW.html">Interstate War Data v4.0</a> | size of circle = number of fatalities

	  <iframe style="border: 0px;" src="/viz3" height="550" width="900" scrolling="no"></iframe> 
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">About Visual #4</h3>
	    </div>
	    <div class="panel-body">
	      
	<table border="1" style="float: right;">
		  <tr><th colspan=2>Regression Summary Stats</th></tr>
		  <tr>
		    <td><b>p-value:</b></td>
		    <td>0.1107</td>
		  </tr>
		  <tr>
		    <td><b>r^2:</b></td>
		    <td>0.0079</td>
		  </tr>
		  <tr>
		    <td><b>Slope: </b></td>
		    <td>-1.9471</td>
		  </tr>
		  <tr>
		    <td><b>Intercept: </b></td>
		    <td>0.4499</td>
		  </tr>
	      </table>
	

		<h4>Dataset</h4>
		<p>Same data as previous visual. What is being plotted</p>

		<h4>Conclusions</h4>
		<p>Inconsistent with hypotheis. Problem: not accounting for size of military. Motivation for visual 4.</p>

		<h4>How Created</h4>
		<p>D3, log scale, regressions done with scipy Python, node.js javascript and sift used for parsing data (link to calc_data.js source on Github)</p>

		
	    </div>
	  </div>

	</div> <!-- /.tab-pane -->

    



	<div class="tab-pane fade" id="analysis">
	   <h3>Map Projections</h3>
	  Source:  <a href="http://bl.ocks.org/mbostock/3711652">This demo</a> was created by <a href="http://bost.ocks.org/mike/">Mike Bostock</a> to showcase the map projections available in <a href="http://www.d3js.org">D3</a>
	 
 <iframe style="border: 0px;" src="/project" height="550" width="1000" scrolling="no"></iframe> 
	    <h4>Projections shown so far</h4>
	    <p>Were all Mercator - limits of Leaflet. Distortion. So will describe: Hammer, ??, ??</p>
	    <h4>Lambert-Azimuthal Equal-Area Projection</h4>
	    <p>Equations. I picked this one simply because polar aspect of this projection is the UN logo :-). What does Azimutal mean? What does equal-area mean? D3 example.</p>
	
	    <h4>Hammer</h4>
	    <p>Extension of Lambert-Azimuthal. What is the difference. See example in drop-down above</p>

	    <h4>Spherical Mercator</h4>
	    <p>Equations. D3 example. Used by tiled mapping libraries (like Leaflet, see visuals 1,2)</p>
	</div>
      </div> <!-- /.tab-content-->

    </div><!-- /.container -->
    
  </body>
</html>






