<!DOCTYPE html>
<meta charset="utf-8">

<link href="js/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css">

<style>

body {
  overflow-y:scroll;
  margin: 0;
  padding: 0;
}

svg {
  overflow: hidden;
}

div {
  border: 0;
  margin: 0;
}

/*
#offsetDiv {
  margin-left: 100px;
  margin-top: 100px;
}
*/


#test1 {
  margin: 0;
}

#test1 svg {
  height: 500px;
}

</style>

<body class='with-3d-shadow with-transitions'>

<div id="offsetDiv">
  <div id="test1" class="chartWrap">
    <svg></svg>
  </div>
</div>

<script src="js/nvd3/lib/d3.v3.js"></script>
<script src="js/nvd3/lib/fisheye.js"></script>
<script src="js/nv.d3.js"></script>
<script src="js/nvd3/src/tooltip.js"></script>
<script src="js/nvd3/src/utils.js"></script>
<script src="js/nvd3/src/models/legend.js"></script>
<script src="js/nvd3/src/models/axis.js"></script>
<script src="js/nvd3/src/models/distribution.js"></script>
<script src="js/nvd3/src/models/scatter.js"></script>
<script src="js/nvd3/src/models/scatterPlusLineChart.js"></script>

<script src="data/all_scatter_data.js"></script>
<script>



//Format A
var chart;
nv.addGraph(function() {
  chart = nv.models.scatterPlusLineChart()
                .showDistX(true)
                .showDistY(true)
		.showXAxis(true)
		.showYAxis(true)
                .transitionDuration(300)
		.showLegend(false)
                .color(d3.scale.category10().range());

  chart.xAxis.scale(d3.scale.linear())
  chart.yAxis.scale(d3.scale.linear())
  chart.xAxis.tickFormat(d3.format('.04f'));
  chart.yAxis.tickFormat(d3.format('.02f'));
  chart.xAxis.tickValues([0.0001, 0.001, 0.01, 0.1])
  chart.yAxis.tickValues([0.0, 0.01, 0.1, 1, 10, 100, 1000, 1000, 100000])
  chart.xAxis.axisLabel('Composite Index of National Capability Score')
  chart.yAxis.axisLabel('Battle related fatalities')
  

  d3.select('#test1 svg')
      //.datum(nv.log(randomData(4,40)))
      .datum(nv.log(loadFatalityData()))
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});


function loadFatalityData() {
  var data = [];
  data.push({
      key: 'War Summary',
      values: [],
      //slope: -1.94714,
      //intercept: 0.4499499
      //slope: 0.00002,
      //intercept: 0.002
  })
  //data.key = 'Data point';
  //dataslope = Math.random() - 0.01,
  //data.intercept = Math.random() - 0.5,
  //data.values = [];

  for (var i=1; i < all_scatter_data.length; i++) {
    if (all_scatter_data[i].milper <= 0){
      var size_ex = 1;
    }

    else {
      var size_ex = all_scatter_data[i].milper;
    }
    
    if (all_scatter_data[i].milper && all_scatter_data[i].milper > 0 && all_scatter_data[i].cinc > 0){
      data[0].values.push({
	x: Number(all_scatter_data[i].cinc),
	y: Number(Number(all_scatter_data[i].fatalities)+ 0.0000001),
	size: size_ex,
	shape: 'circle',
	tooltip: '<p style="text-align: left;"><b>War:</b> ' + all_scatter_data[i].name + '<br><b>State: </b>' + all_scatter_data[i].state + '<br><b>Fatalities: </b>' + all_scatter_data[i].fatalities + '<br><b>Military Personnel: </b>' + all_scatter_data[i].milper * 1000 + '<br><b>Outcome:</b>' + all_scatter_data[i].outcome + '</p>'
      })
    }
  }
  
  return data;
  // x: cinc
  // y: fatalities / milper -> start with averages then do for each war
   
}




function randomData(groups, points) { //# groups,# points per group
  var data = [],
      shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'],
      random = d3.random.normal();

  for (i = 0; i < groups; i++) {
    data.push({
      key: 'Group ' + i,
      values: [],
      slope: -12.239,
      intercept: M
    });

//-12.2389151747
//1351.70110937
//

    for (j = 0; j < points; j++) {
      data[i].values.push({
        x: random(), 
        y: random(),
	date: "hmmm", 
        size: Math.random(), 
        shape: shapes[j % 6],
	tooltip: "more hmmm"
      });
    }
  }

  return data;
}



</script>
